body {
    display:flex;
    flex-direction: column;
    justify-content: start;
    background-color: black;
    color: white;
    }

h1 {
    display:block;
    text-align: center;
    color: rgb(6, 5, 90);
    font-size: 30pt;
    background-color: gray;
}

h2 {
    color: rgb(6, 5, 90);
    font-size: 24pt;
    display:block;
    text-align: center;
    align-content: center;
    background-color: gray;

}

h3 {
    color: rgb(6, 5, 90);
    font-size: 20pt;
    display:block;
    text-align: center;
    align-content: center;
    background-color: silver;
    margin-top: .5in;
}

p {
    margin: .15in 3in 0 3in;
}

#start-btn {
    margin: .25in 2in 0 6in;
    font-size: 30pt;
}

.question-card1 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}

.question-card2 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}

.question-card3 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}

.question-card4 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}

.question-card5 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}

.question-card6 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}

.question-card7 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}

.question-card8 {
    display: none;
    color: darkblue;
    font-size: 20pt;
    margin:auto;
    max-width: 400px;
    height: 300px;
    justify-content: space-between;
    background-color: silver;
}


ul button {
    display:inline-block;
    text-align: right;
    padding-left: 100px;
    justify-content: space-between;
    height: auto;
    width: 400px;
    background-color: aliceblue;
}

.to-question-2 {
    display:none;
}

#correct {
    display: none;
    color: green;
    background-color: silver;
    margin:auto;
    width:auto;
    height:auto;
}

#incorrect {
    display:none;
    color:red;
    background-color: silver;
    margin:auto;
    width:auto;
    height:auto;
}